<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
    <input v-model="num1"><input v-model="num2">
    <hr>
    <button v-on:click="addcal">덧셈계산</button>
    <button v-on:click="subcal">뺄셈계산</button>
    <button v-on:click="mulcal">곱셈계산</button>
    <button v-on:click="divcal">나눗셈계산</button>
    <p>결과는 {{result}}입니다.</p>
</div>

<script>
    new Vue({
        el:'#app',
        data: {
            num1: 100,
            num2: 32,
            result : 132
        },
        methods: {
            addcal: function() {
                this.result = this.num1 + this.num2;
            },
            subcal: function() {
                this.result = this.num1 - this.num2;
            },
            mulcal: function() {
                this.result = this.num1 * this.num2;
            },
            divcal: function() {
                this.result = this.num1 / this.num2;
            }
        }
    })
</script>